openapi: 3.1.0
x-stoplight:
  id: stvjbal6q19de
info:
  title: 'v1: Paddle API'
  version: '1.0'
  description: |-
    Paddle Billing is a complete subscription and recurring revenue management platform, designed for modern SaaS businesses. It helps you increase your revenue, retain customers, and scale your operations.

    The Paddle API lets you create, read, and update information in your Paddle Billing system. You can use it to integrate Paddle with your app or third-party solutions.

    See https://developer.paddle.com/ to learn more.
  summary: The Paddle API lets you create, read, and update information in your Paddle Billing system.
  license:
    name: Paddle Market Ltd.
    url: https://www.paddle.com/legal/terms
  contact:
    name: Paddle Seller Support team
    url: https://developer.paddle.com
    email: sellers@paddle.com
  termsOfService: https://www.paddle.com/legal/terms
externalDocs:
  description: Paddle Developer Center
  url: https://developer.paddle.com/
servers:
  - url: https://api.paddle.com
    description: Live
  - url: https://sandbox-api.paddle.com
    description: Sandbox
tags:
  - name: Products
    description: Product entities describe the items that you sell. They hold high-level product attributes.
    externalDocs:
      description: Product entity overview
      url: https://developer.paddle.com/api-reference/products/overview
  - name: Prices
    description: Price entities describe how much and how often you charge for your products. They hold charging information.
    externalDocs:
      description: Price entity overview
      url: https://developer.paddle.com/api-reference/prices/overview
  - name: Discounts
    description: Discount entities describe percentage or amount-based discounts for transactions. They're sometimes called coupons or promo codes.
    externalDocs:
      description: Discount entity overview
      url: https://developer.paddle.com/api-reference/discounts/overview
  - name: Customers
    description: Customer entities hold information about the people and businesses that you sell to. They're related to addresses and businesses.
    externalDocs:
      description: Customer entity overview
      url: https://developer.paddle.com/api-reference/customers/overview
  - name: Addresses
    description: Address entities hold billing address information for a customer. They're sub-entities of customers.
    externalDocs:
      description: Address entity overview
      url: https://developer.paddle.com/api-reference/addresses/overview
  - name: Businesses
    description: Business entities hold information about customer businesses. They're sub-entities of customers.
    externalDocs:
      description: Business entity overview
      url: https://developer.paddle.com/api-reference/businesses/overview
  - name: Transactions
    description: Transaction entities calculate and capture revenue. They hold information about an amount that you're billing for.
    externalDocs:
      description: Transaction entity overview
      url: https://developer.paddle.com/api-reference/transactions/overview
  - name: Subscriptions
    description: Subscription entities describe a recurring billing relationship with a customer. They're closely related to transactions.
    externalDocs:
      description: Subscription entity overview
      url: https://developer.paddle.com/api-reference/subscriptions/overview
  - name: Adjustments
    description: Adjustment entities describe a post-billing adjustment to a billed or completed transaction.
    externalDocs:
      description: Adjustments entity overview
      url: https://developer.paddle.com/api-reference/adjustments/overview
  - name: Pricing preview
    description: Pricing previews are calculated totals for prices.
    externalDocs:
      description: Pricing preview overview
      url: https://developer.paddle.com/api-reference/pricing-preview/overview
  - name: Event types
    description: Event types are actions that Paddle creates events for.
    externalDocs:
      description: Event types overview
      url: https://developer.paddle.com/api-reference/event-types/overview
  - name: Events
    description: Event entities describe something notable that happened in your Paddle system.
    externalDocs:
      description: Event entity overview
      url: https://developer.paddle.com/api-reference/events/overview
  - name: Notification settings
    description: Notification settings entities describe subscriptions to events. They're also called notification destinations.
    externalDocs:
      description: Notification settings entity overview
      url: https://developer.paddle.com/api-reference/notification-settings/overview
  - name: Notifications
    description: Notification entities describe a notification for an event that happened in your Paddle system.
    externalDocs:
      description: Notification entity overview
      url: https://developer.paddle.com/api-reference/notifications/overview
  - name: Notification logs
    description: Notification logs are records of an attempt to deliver a notification.
    externalDocs:
      description: Notification logs entity overview
      url: https://developer.paddle.com/api-reference/notification-logs/overview
  - name: Notification setting replays
    description: Notification settings replays describe attempts to replay notifications for a notification setting
    externalDocs:
      description: Notification setting replays entity overview
      url: https://developer.paddle.com/api-reference/notification-setting-replays/overview
  - name: Reports
    description: Report entities describe a report generated in your Paddle system.
    externalDocs:
      description: Reports entity overview
      url: https://developer.paddle.com/api-reference/reports/overview
  - name: Payouts
    description: Payouts are payments made by Paddle.
  - name: IP addresses
    description: Get Paddle IP addresses.
paths:
  /products:
    get:
      summary: List products
      externalDocs:
        description: List products
        url: https://developer.paddle.com/api-reference/products/list-products
      tags:
        - Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/product-includes'
                  meta:
                    $ref: '#/components/schemas/meta-paginated'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: List products (200)
                  value:
                    data:
                      - id: pro_01h1vjes1y163xfj1rh1tkfb65
                        name: Voice rooms addon
                        tax_category: standard
                        description: Create voice rooms in your chats to work in real time alongside your colleagues. Includes unlimited voice rooms and recording backup for compliance.
                        image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/GcZzBjXRfiraensppgtQ_icon2.png
                        custom_data: null
                        status: active
                        type: standard
                        created_at: '2023-06-01T13:30:50.302Z'
                        import_meta: null
                      - id: pro_01gsz97mq9pa4fkyy0wqenepkz
                        name: Custom domains
                        tax_category: standard
                        description: Make ChatApp truly your own with custom domains! Custom domains reinforce your brand identity and make it easy for your team to access ChatApp.
                        image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/SW3OevDQ92dUHSkN5a2x_icon3.png
                        custom_data:
                          crm_id: ABC
                        status: active
                        type: standard
                        created_at: '2023-02-23T14:01:02.441Z'
                        import_meta: null
                      - id: pro_01gsz92krfzy3hcx5h5rtgnfwz
                        name: VIP support
                        tax_category: standard
                        description: Get exclusive access to our expert team of product specialists, available to help you make the most of your ChatApp subscription.
                        image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/SW3OevDQ92dUHSkN5a2x_icon3.png
                        custom_data: null
                        status: active
                        type: standard
                        created_at: '2023-02-23T13:58:17.615Z'
                        import_meta: null
                      - id: pro_01gsz4vmqbjk3x4vvtafffd540
                        name: ChatApp Enterprise
                        tax_category: standard
                        description: The ultimate solution for businesses that require top-of-the-line features and customizations. Includes all the features of the Pro plan, plus personalized onboarding, dedicated account management, and the ability to pay via invoice.
                        image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                        custom_data: null
                        status: active
                        type: standard
                        created_at: '2023-02-23T12:44:34.923Z'
                        import_meta: null
                      - id: pro_01gsz4t5hdjse780zja8vvr7jg
                        name: ChatApp Pro
                        tax_category: standard
                        description: Everything in basic, plus access to a suite of powerful tools and features designed to take your team's productivity to the next level.
                        image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                        custom_data:
                          features:
                            crm: true
                            data_retention: false
                            reports: true
                          suggested_addons:
                            - pro_01h1vjes1y163xfj1rh1tkfb65
                            - pro_01gsz97mq9pa4fkyy0wqenepkz
                          upgrade_description: Move from Basic to Pro to take advantage of advanced reporting and a CRM that's right where you're chatting.
                        status: active
                        type: standard
                        created_at: '2023-02-23T12:43:46.605Z'
                        import_meta: null
                      - id: pro_01gsz4s0w61y0pp88528f1wvvb
                        name: ChatApp Basic
                        tax_category: standard
                        description: Ideal for small teams who want to stay connected and organized. Access to all the essential features, including unlimited messaging, file sharing, and integrations with your favorite tools.
                        image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                        custom_data: null
                        status: active
                        type: standard
                        created_at: '2023-02-23T12:43:09.062Z'
                        import_meta: null
                    meta:
                      request_id: e2923a4b-6230-485f-bd7f-64cc4db2454b
                      pagination:
                        per_page: 50
                        next: https://api.paddle.com/products?after=pro_01gsz4s0w61y0pp88528f1wvvb
                        has_more: false
                        estimated_total: 6
        default:
          $ref: '#/components/responses/error'
      operationId: list-products
      parameters:
        - $ref: '#/components/parameters/after_query'
        - $ref: '#/components/parameters/id_query'
        - $ref: '#/components/parameters/include_product_query'
        - $ref: '#/components/parameters/order_by_query'
          description: |-
            Order returned entities by the specified field and direction (`[ASC]` or `[DESC]`). For example, `?order_by=id[ASC]`.

            Valid fields for ordering: `created_at`, `custom_data`, `description`, `id`, `image_url`, `name`, `status`, `tax_category`, and `updated_at`.
        - $ref: '#/components/parameters/per_page_query'
        - $ref: '#/components/parameters/status_query'
        - $ref: '#/components/parameters/tax_category_query'
        - $ref: '#/components/parameters/type_product_query'
      description: |-
        Returns a paginated list of products. Use the query parameters to page through results.

        By default, Paddle returns products that are `active`. Use the `status` query parameter to return products that are archived.

        Use the `include` parameter to include related price entities in the response.
    post:
      summary: Create a product
      externalDocs:
        description: Create product
        url: https://developer.paddle.com/api-reference/products/create-product
      tags:
        - Products
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/product'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 201 Created:
                  summary: Create a product (201)
                  value:
                    data:
                      id: pro_01h7zcgmdc6tmwtjehp3sh7azf
                      name: ChatApp Education
                      tax_category: standard
                      description: Spend more time engaging with students with ChataApp Education. Includes features from our Pro plan, plus tools to help educators track student progress.
                      image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                      custom_data:
                        features:
                          crm: false
                          data_retention: true
                          reports: true
                      status: active
                      type: standard
                      created_at: '2023-08-16T14:38:08.3Z'
                      import_meta: null
                    meta:
                      request_id: ed738012-b8b3-4b4a-8761-ca708a01e400
        default:
          $ref: '#/components/responses/error'
      operationId: create-product
      description: |-
        Creates a new product.

        Paddle does not upload product images to a CDN. For `image_url`, you should host images on an HTTPS server that's publicly accessible. We recommend using square images (`1:1` ratio).

        If successful, your response includes a copy of the new product entity.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product-create'
            examples:
              Standard:
                $ref: '#/components/examples/create-product-standard'
  "/products/{product_id}":
    parameters:
      - $ref: '#/components/parameters/product_id_path'
    get:
      summary: Get a product
      externalDocs:
        description: Get a product
        url: https://developer.paddle.com/api-reference/products/get-product
      tags:
        - Products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/product-includes'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: Get a product (200)
                  value:
                    data:
                      id: pro_01h7zcgmdc6tmwtjehp3sh7azf
                      name: ChatApp Education
                      tax_category: standard
                      description: Spend more time engaging with students with ChataApp Education. Includes features from our Pro plan, plus tools to help educators track student progress.
                      image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                      custom_data:
                        features:
                          crm: false
                          data_retention: true
                          reports: true
                      status: active
                      type: standard
                      created_at: '2023-08-16T14:38:08.3Z'
                      import_meta: null
                    meta:
                      request_id: 47605f48-92a2-429f-ba40-1c9d335413b2
        default:
          $ref: '#/components/responses/error'
      operationId: get-product
      parameters:
        - $ref: '#/components/parameters/include_product_query'
      description: |-
        Returns a product using its ID.

        Use the `include` parameter to include related price entities in the response.
    patch:
      summary: Update a product
      externalDocs:
        description: Update a product
        url: https://developer.paddle.com/api-reference/products/update-product
      operationId: update-product
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/product'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: Update a product (200)
                  value:
                    data:
                      id: pro_01h7zcgmdc6tmwtjehp3sh7azf
                      name: ChatApp for Schools
                      tax_category: standard
                      description: Spend more time engaging with students with ChataApp Education. Includes features from our Pro plan, plus tools to help educators track student progress.
                      image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                      custom_data:
                        features:
                          crm: false
                          data_retention: true
                          reports: true
                      status: active
                      type: standard
                      created_at: '2023-08-16T14:38:08.3Z'
                      import_meta: null
                    meta:
                      request_id: 779b6fa6-0377-4e2b-b45f-858287612b64
        default:
          $ref: '#/components/responses/error'
      description: |-
        Updates a product using its ID.

        Paddle does not upload product images to a CDN. For `image_url`, you should host images on an HTTPS server that's publicly accessible. We recommend using square images (`1:1` ratio).

        If successful, your response includes a copy of the updated product entity.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product-update'
            examples:
              Standard:
                $ref: '#/components/examples/update-product-standard'
      tags:
        - Products
  /prices:
    get:
      summary: List prices
      externalDocs:
        description: List prices
        url: https://developer.paddle.com/api-reference/prices/list-prices
      tags:
        - Prices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/price-includes'
                  meta:
                    $ref: '#/components/schemas/meta-paginated'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: List prices (200)
                  value:
                    data:
                      - id: pri_01h7zdqstxe6djaefkqbkjy4k2
                        product_id: pro_01h7zcgmdc6tmwtjehp3sh7azf
                        description: Annual (per seat)
                        name: Annual (per seat)
                        billing_cycle:
                          interval: year
                          frequency: 1
                        trial_period: null
                        tax_mode: account_setting
                        unit_price:
                          amount: '5000'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        type: standard
                        quantity:
                          minimum: 1
                          maximum: 999
                        import_meta: null
                      - id: pri_01h7zd9mzfq79850w4ryc39v38
                        product_id: pro_01h7zcgmdc6tmwtjehp3sh7azf
                        description: Monthly (per seat)
                        name: Monthly (per seat)
                        billing_cycle:
                          interval: month
                          frequency: 1
                        trial_period:
                          interval: day
                          frequency: 3
                        tax_mode: account_setting
                        unit_price:
                          amount: '500'
                          currency_code: USD
                        unit_price_overrides: []
                        custom_data: null
                        status: active
                        type: standard
                        quantity:
                          minimum: 1
                          maximum: 999
                        import_meta: null
                    meta:
                      request_id: 11379f11-da01-4c48-acaa-e4502cdb1aac
                      pagination:
                        per_page: 50
                        next: https://api.paddle.com/prices?after=pri_01h7zd9mzfq79850w4ryc39v38
                        has_more: false
                        estimated_total: 2
        default:
          $ref: '#/components/responses/error'
      operationId: list-prices
      description: |-
        Returns a paginated list of prices. Use the query parameters to page through results.

        By default, Paddle returns prices that are `active`. Use the `status` query parameter to return prices that are archived.

        Use the `include` parameter to include the related product entity in the response.
      parameters:
        - $ref: '#/components/parameters/after_query'
        - $ref: '#/components/parameters/id_query'
        - $ref: '#/components/parameters/include_price_query'
        - $ref: '#/components/parameters/order_by_query'
          description: |-
            Order returned entities by the specified field and direction (`[ASC]` or `[DESC]`). For example, `?order_by=id[ASC]`.

            Valid fields for ordering: `billing_cycle.frequency`, `billing_cycle.interval`, `id`, `product_id`, `quantity.maximum`, `quantity.minimum`, `status`, `tax_mode`, `unit_price.amount`, and `unit_price.currency_code`.
        - $ref: '#/components/parameters/per_page_query'
        - $ref: '#/components/parameters/product_id_query'
        - $ref: '#/components/parameters/status_query'
        - $ref: '#/components/parameters/recurring_query'
        - $ref: '#/components/parameters/type_price_query'
    post:
      summary: Create a price
      operationId: create-price
      externalDocs:
        description: Create a price
        url: https://developer.paddle.com/api-reference/prices/create-price
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/price'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 201 Created:
                  summary: Create a price (201)
                  value:
                    data:
                      id: pri_01h7zd9mzfq79850w4ryc39v38
                      product_id: pro_01h7zcgmdc6tmwtjehp3sh7azf
                      description: Monthly (per seat)
                      name: Monthly (per seat)
                      billing_cycle:
                        interval: month
                        frequency: 1
                      trial_period:
                        interval: day
                        frequency: 3
                      tax_mode: account_setting
                      unit_price:
                        amount: '500'
                        currency_code: USD
                      unit_price_overrides: []
                      custom_data: null
                      status: active
                      type: standard
                      quantity:
                        minimum: 1
                        maximum: 999
                      import_meta: null
                    meta:
                      request_id: a9399fc6-092c-40f1-83ce-e929404bacb2
        default:
          $ref: '#/components/responses/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/price-create'
            examples:
              Standard:
                $ref: '#/components/examples/create-price-standard'
      description: |-
        Creates a new price.

        Prices describe how you charge for products. You must include a `product_id` in your request to relate this price to a product.

        If you omit the `quantity` object, Paddle automatically sets a minimum of `1` and a maximum of `100` for you. This means the most units that a customer can buy is 100. Set a quantity if you'd like to offer a different amount.

        If successful, your response includes a copy of the new price entity.
      tags:
        - Prices
  "/prices/{price_id}":
    parameters:
      - $ref: '#/components/parameters/price_id_path'
    get:
      summary: Get a price
      externalDocs:
        description: Get a price
        url: https://developer.paddle.com/api-reference/prices/get-price
      tags:
        - Prices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/price-includes'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: Get a price (200)
                  value:
                    data:
                      id: pri_01h7zd9mzfq79850w4ryc39v38
                      product_id: pro_01h7zcgmdc6tmwtjehp3sh7azf
                      description: Monthly (per seat)
                      name: Monthly (per seat)
                      billing_cycle:
                        interval: month
                        frequency: 1
                      trial_period:
                        interval: day
                        frequency: 3
                      tax_mode: account_setting
                      unit_price:
                        amount: '500'
                        currency_code: USD
                      unit_price_overrides: []
                      custom_data: null
                      status: active
                      type: standard
                      quantity:
                        minimum: 1
                        maximum: 999
                      import_meta: null
                    meta:
                      request_id: 594357f6-0e79-4a77-922d-7c9a069b83d2
        default:
          $ref: '#/components/responses/error'
      operationId: get-price
      description: |-
        Returns a price using its ID.

        Use the `include` parameter to include the related product entity in the response.
      parameters:
        - $ref: '#/components/parameters/include_price_query'
    patch:
      summary: Update a price
      externalDocs:
        description: Update a price
        url: https://developer.paddle.com/api-reference/prices/update-price
      operationId: update-price
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/price'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: Update a price (200)
                  value:
                    data:
                      id: pri_01h7zdqstxe6djaefkqbkjy4k2
                      product_id: pro_01h7zcgmdc6tmwtjehp3sh7azf
                      description: Annual (per seat)
                      name: Annual (per seat)
                      billing_cycle:
                        interval: year
                        frequency: 1
                      trial_period:
                        interval: day
                        frequency: 30
                      tax_mode: account_setting
                      unit_price:
                        amount: '5000'
                        currency_code: USD
                      unit_price_overrides: []
                      custom_data: null
                      status: active
                      type: standard
                      quantity:
                        minimum: 1
                        maximum: 999
                      import_meta: null
                    meta:
                      request_id: 620193e7-60df-49e6-94ae-8e558e4b8224
        default:
          $ref: '#/components/responses/error'
      description: |-
        Updates a price using its ID.

        If successful, your response includes a copy of the updated price entity.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/price-update'
            examples:
              Standard:
                $ref: '#/components/examples/update-price-standard'
      tags:
        - Prices
  /transactions:
    get:
      summary: List transactions
      externalDocs:
        description: List transactions
        url: https://developer.paddle.com/api-reference/transactions/list-transactions
      tags:
        - Transactions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/transaction-includes'
                  meta:
                    $ref: '#/components/schemas/meta-paginated'
                required:
                  - data
                  - meta
              examples:
                Standard - 200 OK:
                  summary: List transactions (200)
                  value:
                    data:
                      - id: txn_01h8bm0f0gwa622zpcvw49hwc1
                        status: ready
                        customer_id: ctm_01h8441jn5pcwrfhwh78jqt8hk
                        address_id: add_01h848pep46enq8y372x7maj0p
                        business_id: null
                        custom_data: null
                        origin: api
                        collection_mode: manual
                        subscription_id: null
                        invoice_id: inv_01h8bm0gtxhgd7f37f4xx8b93m
                        invoice_number: null
                        billing_details:
                          enable_checkout: false
                          payment_terms:
                            interval: day
                            frequency: 14
                          purchase_order_number: PO-123
                          additional_information: null
                        billing_period:
                          starts_at: '2023-08-01T00:00:00Z'
                          ends_at: '2024-07-31T23:59:00Z'
                        currency_code: USD
                        discount_id: dsc_01gtgztp8fpchantd5g1wrksa3
                        created_at: '2023-08-21T08:40:00.766226Z'
                        updated_at: '2023-08-21T08:46:37.414122Z'
                        billed_at: null
                        items:
                          - price:
                              id: pri_01gsz8z1q1n00f12qt82y31smh
                              description: Annual (per seat)
                              name: Annual (per seat)
                              product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                              billing_cycle:
                                interval: year
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '30000'
                                currency_code: USD
                              unit_price_overrides: []
                              quantity:
                                minimum: 10
                                maximum: 999
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 20
                          - price:
                              id: pri_01gsz96z29d88jrmsf2ztbfgjg
                              description: Annual (recurring addon)
                              name: Annual (recurring addon)
                              product_id: pro_01gsz92krfzy3hcx5h5rtgnfwz
                              billing_cycle:
                                interval: year
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '300000'
                                currency_code: USD
                              unit_price_overrides: []
                              quantity:
                                minimum: 1
                                maximum: 1
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 1
                          - price:
                              id: pri_01gsz98e27ak2tyhexptwc58yk
                              description: One-time charge
                              name: One-time charge
                              product_id: pro_01gsz97mq9pa4fkyy0wqenepkz
                              billing_cycle: null
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '19900'
                                currency_code: USD
                              unit_price_overrides:
                                - country_codes:
                                    - AU
                                  unit_price:
                                    amount: '40000'
                                    currency_code: AUD
                              quantity:
                                minimum: 1
                                maximum: 1
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 1
                        details:
                          tax_rates_used:
                            - tax_rate: '0.08875'
                              totals:
                                subtotal: '919900'
                                discount: '91990'
                                tax: '73477'
                                total: '901387'
                          totals:
                            subtotal: '919900'
                            tax: '73477'
                            discount: '91990'
                            total: '901387'
                            grand_total: '901387'
                            fee: null
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '901387'
                            earnings: null
                            currency_code: USD
                          adjusted_totals:
                            subtotal: '827910'
                            tax: '73477'
                            total: '901387'
                            grand_total: '901387'
                            fee: null
                            earnings: null
                            currency_code: USD
                          payout_totals: null
                          adjusted_payout_totals: null
                          line_items:
                            - id: txnitm_01h8bmcjtsx04v0c7f1ctdeh6w
                              price_id: pri_01gsz8z1q1n00f12qt82y31smh
                              quantity: 20
                              totals:
                                subtotal: '600000'
                                tax: '47925'
                                discount: '60000'
                                total: '587925'
                              product:
                                id: pro_01gsz4t5hdjse780zja8vvr7jg
                                name: ChatApp Pro
                                description: Everything in basic, plus access to a suite of powerful tools and features designed to take your team's productivity to the next level.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '30000'
                                tax: '2396'
                                discount: '3000'
                                total: '29396'
                            - id: txnitm_01h8bmcjtsx04v0c7f1da1pg6d
                              price_id: pri_01gsz96z29d88jrmsf2ztbfgjg
                              quantity: 1
                              totals:
                                subtotal: '300000'
                                tax: '23962'
                                discount: '30000'
                                total: '293962'
                              product:
                                id: pro_01gsz92krfzy3hcx5h5rtgnfwz
                                name: VIP support
                                description: Get exclusive access to our expert team of product specialists, available to help you make the most of your ChatApp subscription.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/SW3OevDQ92dUHSkN5a2x_icon3.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '300000'
                                tax: '23962'
                                discount: '30000'
                                total: '293962'
                            - id: txnitm_01h8bmcjtsx04v0c7f1drwqcgg
                              price_id: pri_01gsz98e27ak2tyhexptwc58yk
                              quantity: 1
                              totals:
                                subtotal: '19900'
                                tax: '1590'
                                discount: '1990'
                                total: '19500'
                              product:
                                id: pro_01gsz97mq9pa4fkyy0wqenepkz
                                name: Custom domains
                                description: Make ChatApp truly your own with custom domains! Custom domains reinforce your brand identity and make it easy for your team to access ChatApp.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/SW3OevDQ92dUHSkN5a2x_icon3.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '19900'
                                tax: '1590'
                                discount: '1990'
                                total: '19500'
                        payments: []
                        checkout:
                          url: null
                      - id: txn_01h8bh3jn3a1kfwk4kdw6rf3gp
                        status: draft
                        customer_id: null
                        address_id: null
                        business_id: null
                        custom_data: null
                        origin: web
                        collection_mode: automatic
                        subscription_id: null
                        invoice_id: null
                        invoice_number: null
                        billing_details: null
                        billing_period: null
                        currency_code: USD
                        discount_id: null
                        created_at: '2023-08-21T07:49:16.634436Z'
                        updated_at: '2023-08-21T07:49:16.634436Z'
                        billed_at: null
                        items:
                          - price:
                              id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              description: Monthly (per seat)
                              name: Monthly (per seat)
                              product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '3000'
                                currency_code: USD
                              unit_price_overrides:
                                - country_codes:
                                    - AU
                                  unit_price:
                                    amount: '5000'
                                    currency_code: AUD
                              quantity:
                                minimum: 10
                                maximum: 999
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 10
                          - price:
                              id: pri_01h1vjfevh5etwq3rb416a23h2
                              description: Monthly (recurring addon)
                              name: Monthly (recurring addon)
                              product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '10000'
                                currency_code: USD
                              unit_price_overrides:
                                - country_codes:
                                    - AU
                                  unit_price:
                                    amount: '20000'
                                    currency_code: AUD
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 1
                          - price:
                              id: pri_01gsz98e27ak2tyhexptwc58yk
                              description: One-time charge
                              name: One-time charge
                              product_id: pro_01gsz97mq9pa4fkyy0wqenepkz
                              billing_cycle: null
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '19900'
                                currency_code: USD
                              unit_price_overrides:
                                - country_codes:
                                    - AU
                                  unit_price:
                                    amount: '40000'
                                    currency_code: AUD
                              quantity:
                                minimum: 1
                                maximum: 1
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 1
                        details:
                          tax_rates_used:
                            - tax_rate: '0.21'
                              totals:
                                subtotal: '59900'
                                discount: '0'
                                tax: '12579'
                                total: '72479'
                          totals:
                            subtotal: '59900'
                            tax: '12579'
                            discount: '0'
                            total: '72479'
                            grand_total: '72479'
                            fee: null
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '72479'
                            earnings: null
                            currency_code: USD
                          adjusted_totals:
                            subtotal: '59900'
                            tax: '12579'
                            total: '72479'
                            grand_total: '72479'
                            fee: null
                            earnings: null
                            currency_code: USD
                          payout_totals: null
                          adjusted_payout_totals: null
                          line_items:
                            - id: txnitm_01h8bh3jp5rbngqb2d0gdazcht
                              price_id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              quantity: 10
                              totals:
                                subtotal: '30000'
                                tax: '6300'
                                discount: '0'
                                total: '36300'
                              product:
                                id: pro_01gsz4t5hdjse780zja8vvr7jg
                                name: ChatApp Pro
                                description: Everything in basic, plus access to a suite of powerful tools and features designed to take your team's productivity to the next level.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0.21'
                              unit_totals:
                                subtotal: '3000'
                                tax: '630'
                                discount: '0'
                                total: '3630'
                            - id: txnitm_01h8bh3jp5rbngqb2d0kxnjk2x
                              price_id: pri_01h1vjfevh5etwq3rb416a23h2
                              quantity: 1
                              totals:
                                subtotal: '10000'
                                tax: '2100'
                                discount: '0'
                                total: '12100'
                              product:
                                id: pro_01h1vjes1y163xfj1rh1tkfb65
                                name: Voice rooms addon
                                description: Create voice rooms in your chats to work in real time alongside your colleagues. Includes unlimited voice rooms and recording backup for compliance.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/GcZzBjXRfiraensppgtQ_icon2.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0.21'
                              unit_totals:
                                subtotal: '10000'
                                tax: '2100'
                                discount: '0'
                                total: '12100'
                            - id: txnitm_01h8bh3jp5rbngqb2d0mr5051a
                              price_id: pri_01gsz98e27ak2tyhexptwc58yk
                              quantity: 1
                              totals:
                                subtotal: '19900'
                                tax: '4179'
                                discount: '0'
                                total: '24079'
                              product:
                                id: pro_01gsz97mq9pa4fkyy0wqenepkz
                                name: Custom domains
                                description: Make ChatApp truly your own with custom domains! Custom domains reinforce your brand identity and make it easy for your team to access ChatApp.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/SW3OevDQ92dUHSkN5a2x_icon3.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0.21'
                              unit_totals:
                                subtotal: '19900'
                                tax: '4179'
                                discount: '0'
                                total: '24079'
                        payments: []
                        checkout:
                          url: https://magnificent-entremet-7ae0c6.netlify.app/default/overlay?_ptxn=txn_01h8bh3jn3a1kfwk4kdw6rf3gp
                      - id: txn_01h8bh19ag3brhyvakme2c91pa
                        status: canceled
                        customer_id: ctm_01h8bh2k8wb98f7dc1s5j3j43b
                        address_id: add_01h8bh2ka9pcvm3bc3mfbq34wp
                        business_id: null
                        custom_data: null
                        origin: web
                        collection_mode: automatic
                        subscription_id: null
                        invoice_id: null
                        invoice_number: null
                        billing_details: null
                        billing_period: null
                        currency_code: USD
                        discount_id: null
                        created_at: '2023-08-21T07:48:01.560677Z'
                        updated_at: '2023-08-21T08:54:11.273239Z'
                        billed_at: null
                        items:
                          - price:
                              id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              description: Monthly (per seat)
                              name: Monthly (per seat)
                              product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '3000'
                                currency_code: USD
                              unit_price_overrides:
                                - country_codes:
                                    - AU
                                  unit_price:
                                    amount: '5000'
                                    currency_code: AUD
                              quantity:
                                minimum: 10
                                maximum: 999
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 10
                          - price:
                              id: pri_01h1vjfevh5etwq3rb416a23h2
                              description: Monthly (recurring addon)
                              name: Monthly (recurring addon)
                              product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '10000'
                                currency_code: USD
                              unit_price_overrides:
                                - country_codes:
                                    - AU
                                  unit_price:
                                    amount: '20000'
                                    currency_code: AUD
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 1
                          - price:
                              id: pri_01gsz98e27ak2tyhexptwc58yk
                              description: One-time charge
                              name: One-time charge
                              product_id: pro_01gsz97mq9pa4fkyy0wqenepkz
                              billing_cycle: null
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '19900'
                                currency_code: USD
                              unit_price_overrides:
                                - country_codes:
                                    - AU
                                  unit_price:
                                    amount: '40000'
                                    currency_code: AUD
                              quantity:
                                minimum: 1
                                maximum: 1
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 1
                        details:
                          tax_rates_used:
                            - tax_rate: '0'
                              totals:
                                subtotal: '59900'
                                discount: '0'
                                tax: '0'
                                total: '59900'
                          totals:
                            subtotal: '59900'
                            tax: '0'
                            discount: '0'
                            total: '59900'
                            grand_total: '59900'
                            fee: null
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '59900'
                            earnings: null
                            currency_code: USD
                          adjusted_totals:
                            subtotal: '59900'
                            tax: '0'
                            total: '59900'
                            grand_total: '59900'
                            fee: null
                            earnings: null
                            currency_code: USD
                          payout_totals: null
                          adjusted_payout_totals: null
                          line_items:
                            - id: txnitm_01h8bh2kdzx5jtcn24nfxp8mge
                              price_id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              quantity: 10
                              totals:
                                subtotal: '30000'
                                tax: '0'
                                discount: '0'
                                total: '30000'
                              product:
                                id: pro_01gsz4t5hdjse780zja8vvr7jg
                                name: ChatApp Pro
                                description: Everything in basic, plus access to a suite of powerful tools and features designed to take your team's productivity to the next level.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0'
                              unit_totals:
                                subtotal: '3000'
                                tax: '0'
                                discount: '0'
                                total: '3000'
                            - id: txnitm_01h8bh2kdzx5jtcn24njfzq7pw
                              price_id: pri_01h1vjfevh5etwq3rb416a23h2
                              quantity: 1
                              totals:
                                subtotal: '10000'
                                tax: '0'
                                discount: '0'
                                total: '10000'
                              product:
                                id: pro_01h1vjes1y163xfj1rh1tkfb65
                                name: Voice rooms addon
                                description: Create voice rooms in your chats to work in real time alongside your colleagues. Includes unlimited voice rooms and recording backup for compliance.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/GcZzBjXRfiraensppgtQ_icon2.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0'
                              unit_totals:
                                subtotal: '10000'
                                tax: '0'
                                discount: '0'
                                total: '10000'
                            - id: txnitm_01h8bh2kdzx5jtcn24np0zysg4
                              price_id: pri_01gsz98e27ak2tyhexptwc58yk
                              quantity: 1
                              totals:
                                subtotal: '19900'
                                tax: '0'
                                discount: '0'
                                total: '19900'
                              product:
                                id: pro_01gsz97mq9pa4fkyy0wqenepkz
                                name: Custom domains
                                description: Make ChatApp truly your own with custom domains! Custom domains reinforce your brand identity and make it easy for your team to access ChatApp.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/SW3OevDQ92dUHSkN5a2x_icon3.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0'
                              unit_totals:
                                subtotal: '19900'
                                tax: '0'
                                discount: '0'
                                total: '19900'
                        payments: []
                        checkout:
                          url: https://magnificent-entremet-7ae0c6.netlify.app/default/overlay?_ptxn=txn_01h8bh19ag3brhyvakme2c91pa
                      - id: txn_01h857x99rw3vy424gsy6bgtfs
                        status: completed
                        customer_id: ctm_01h1xmrqekzftg1ebbnhwbae9y
                        address_id: add_01h1xmrqgcrcjbqtd7nj1kdy1a
                        business_id: null
                        custom_data: null
                        origin: subscription_recurring
                        collection_mode: automatic
                        subscription_id: sub_01h1xmtadr8n1zck73f3drhq2a
                        invoice_id: inv_01h857xe4rqr9d1qs0qb1by8nc
                        invoice_number: 325-10134
                        billing_details: null
                        billing_period:
                          starts_at: '2023-10-01T00:00:00Z'
                          ends_at: '2023-11-01T00:00:00Z'
                        currency_code: USD
                        discount_id: null
                        created_at: '2023-08-18T21:13:07.033262Z'
                        updated_at: '2023-08-18T21:13:14.83528Z'
                        billed_at: '2023-08-18T21:13:06.616004Z'
                        items:
                          - price:
                              id: pri_01h1vjfevh5etwq3rb416a23h2
                              description: Monthly
                              name: Monthly
                              product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '10000'
                                currency_code: USD
                              unit_price_overrides: []
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 1
                          - price:
                              id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              description: Monthly (per seat)
                              name: Monthly (per seat)
                              product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '3000'
                                currency_code: USD
                              unit_price_overrides: []
                              quantity:
                                minimum: 10
                                maximum: 999
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 10
                        details:
                          tax_rates_used:
                            - tax_rate: '0'
                              totals:
                                subtotal: '40000'
                                discount: '0'
                                tax: '0'
                                total: '40000'
                          totals:
                            subtotal: '40000'
                            tax: '0'
                            discount: '0'
                            total: '40000'
                            grand_total: '40000'
                            fee: '2050'
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '0'
                            earnings: '37950'
                            currency_code: USD
                          adjusted_totals:
                            subtotal: '40000'
                            tax: '0'
                            total: '40000'
                            grand_total: '40000'
                            fee: '2050'
                            earnings: '37950'
                            currency_code: USD
                          payout_totals:
                            subtotal: '40000'
                            tax: '0'
                            discount: '0'
                            total: '40000'
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '0'
                            grand_total: '40000'
                            fee: '2050'
                            earnings: '37950'
                            currency_code: USD
                          adjusted_payout_totals:
                            subtotal: '40000'
                            tax: '0'
                            total: '40000'
                            fee: '2050'
                            chargeback_fee:
                              amount: '0'
                              original: null
                            earnings: '37950'
                            currency_code: USD
                          line_items:
                            - id: txnitm_01h857x9nvtq3vmc89yccnxym6
                              price_id: pri_01h1vjfevh5etwq3rb416a23h2
                              quantity: 1
                              totals:
                                subtotal: '10000'
                                tax: '0'
                                discount: '0'
                                total: '10000'
                              product:
                                id: pro_01h1vjes1y163xfj1rh1tkfb65
                                name: Voice rooms addon
                                description: Create voice rooms in your chats to work in real time alongside your colleagues. Includes unlimited voice rooms and recording backup for compliance.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/GcZzBjXRfiraensppgtQ_icon2.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0'
                              unit_totals:
                                subtotal: '10000'
                                tax: '0'
                                discount: '0'
                                total: '10000'
                            - id: txnitm_01h857x9nvtq3vmc89ydbye62d
                              price_id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              quantity: 10
                              totals:
                                subtotal: '30000'
                                tax: '0'
                                discount: '0'
                                total: '30000'
                              product:
                                id: pro_01gsz4t5hdjse780zja8vvr7jg
                                name: ChatApp Pro
                                description: Everything in basic, plus access to a suite of powerful tools and features designed to take your team's productivity to the next level.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0'
                              unit_totals:
                                subtotal: '3000'
                                tax: '0'
                                discount: '0'
                                total: '3000'
                        payments:
                          - payment_attempt_id: 1f8e8302-b6fa-4290-b457-4c201eb3d53f
                            stored_payment_method_id: 5f85a637-efa7-4c6b-88ec-9cc05301bb48
                            payment_method_id: paymtd_01h1xnwgkry3y6tr2m1x3esxs7
                            amount: '40000'
                            status: captured
                            error_code: null
                            method_details:
                              type: card
                              card:
                                type: visa
                                last4: '4242'
                                expiry_month: 1
                                expiry_year: 2024
                                cardholder_name: Joe Bloggs
                            created_at: '2023-08-18T21:13:07.18821Z'
                            captured_at: '2023-08-18T21:13:09.477933Z'
                        checkout:
                          url: https://magnificent-entremet-7ae0c6.netlify.app/default/overlay?_ptxn=txn_01h857x99rw3vy424gsy6bgtfs
                      - id: txn_01h7zcz6dhp2tc5mcd7qbnf8sp
                        status: past_due
                        customer_id: ctm_01gvcz30f4d77tfnn60snnyxfd
                        address_id: add_01gvczbeepz72bfgsvbcmy1vpg
                        business_id: null
                        custom_data: {}
                        origin: subscription_recurring
                        collection_mode: manual
                        subscription_id: sub_01gvne45dvdhg5gdxrz6hh511r
                        invoice_id: inv_01h7zcz74ckz5yygwfkk2kphkt
                        invoice_number: 325-10122
                        billing_details:
                          enable_checkout: false
                          payment_terms:
                            interval: week
                            frequency: 2
                          purchase_order_number: ''
                          additional_information: ''
                        billing_period:
                          starts_at: '2023-08-16T14:45:30.683929Z'
                          ends_at: '2023-09-16T14:45:30.683929Z'
                        currency_code: USD
                        discount_id: null
                        created_at: '2023-08-16T14:46:05.86701Z'
                        updated_at: '2023-08-19T14:47:05.97537Z'
                        billed_at: '2023-08-16T14:46:05.489912Z'
                        items:
                          - price:
                              id: pri_01gvne87kv8vbqa9jkfbmgtsed
                              description: Monthly
                              name: Monthly
                              product_id: pro_01gsz4vmqbjk3x4vvtafffd540
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '5000'
                                currency_code: USD
                              unit_price_overrides: []
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 1
                        details:
                          tax_rates_used:
                            - tax_rate: '0'
                              totals:
                                subtotal: '5000'
                                discount: '0'
                                tax: '0'
                                total: '5000'
                          totals:
                            subtotal: '5000'
                            tax: '0'
                            discount: '0'
                            total: '5000'
                            grand_total: '5000'
                            fee: null
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '5000'
                            earnings: null
                            currency_code: USD
                          adjusted_totals:
                            subtotal: '5000'
                            tax: '0'
                            total: '5000'
                            grand_total: '5000'
                            fee: null
                            earnings: null
                            currency_code: USD
                          payout_totals: null
                          adjusted_payout_totals: null
                          line_items:
                            - id: txnitm_01h7zcz6rq1ttphe4wmz0nnr4b
                              price_id: pri_01gvne87kv8vbqa9jkfbmgtsed
                              quantity: 1
                              totals:
                                subtotal: '5000'
                                tax: '0'
                                discount: '0'
                                total: '5000'
                              product:
                                id: pro_01gsz4vmqbjk3x4vvtafffd540
                                name: ChatApp Enterprise
                                description: The ultimate solution for businesses that require top-of-the-line features and customizations. Includes all the features of the Pro plan, plus personalized onboarding, dedicated account management, and the ability to pay via invoice.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0'
                              unit_totals:
                                subtotal: '5000'
                                tax: '0'
                                discount: '0'
                                total: '5000'
                        payments: []
                        checkout:
                          url: null
                      - id: txn_01h69ddtrb11km0wk46dn607ya
                        status: billed
                        customer_id: ctm_01h3w5erbfqppdcmwchhss3cv1
                        address_id: add_01h3w5ercxtvj5wnkeam6nmwyy
                        business_id: null
                        custom_data: null
                        origin: subscription_recurring
                        collection_mode: manual
                        subscription_id: sub_01h3w5fhbrzyqgk0dkhz19e526
                        invoice_id: inv_01h69ddw9rqsdfn6qjhfqcfdbg
                        invoice_number: 325-10101
                        billing_details:
                          enable_checkout: true
                          payment_terms:
                            interval: day
                            frequency: 30
                          purchase_order_number: PO-1030
                          additional_information: Contact your account manager if you have any problems.
                        billing_period:
                          starts_at: '2023-07-26T15:34:40.309508Z'
                          ends_at: '2023-08-26T15:34:40.309508Z'
                        currency_code: USD
                        discount_id: null
                        created_at: '2023-07-26T15:35:06.134251Z'
                        updated_at: '2023-07-26T15:35:11.182344Z'
                        billed_at: '2023-07-26T15:35:05.739403Z'
                        items:
                          - price:
                              id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              description: Monthly (per seat)
                              name: Monthly (per seat)
                              product_id: pro_01gsz4t5hdjse780zja8vvr7jg
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '3000'
                                currency_code: USD
                              unit_price_overrides: []
                              quantity:
                                minimum: 10
                                maximum: 999
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 10
                          - price:
                              id: pri_01h1vjfevh5etwq3rb416a23h2
                              description: Monthly (recurring addon)
                              name: Monthly (recurring addon)
                              product_id: pro_01h1vjes1y163xfj1rh1tkfb65
                              billing_cycle:
                                interval: month
                                frequency: 1
                              trial_period: null
                              tax_mode: account_setting
                              unit_price:
                                amount: '10000'
                                currency_code: USD
                              unit_price_overrides: []
                              quantity:
                                minimum: 1
                                maximum: 100
                              status: active
                              type: standard
                              custom_data: null
                            quantity: 1
                        details:
                          tax_rates_used:
                            - tax_rate: '0.08875'
                              totals:
                                subtotal: '40000'
                                discount: '0'
                                tax: '3549'
                                total: '43549'
                          totals:
                            subtotal: '40000'
                            tax: '3549'
                            discount: '0'
                            total: '43549'
                            grand_total: '43549'
                            fee: null
                            credit: '0'
                            credit_to_balance: '0'
                            balance: '43549'
                            earnings: null
                            currency_code: USD
                          adjusted_totals:
                            subtotal: '40000'
                            tax: '3549'
                            total: '43549'
                            grand_total: '43549'
                            fee: null
                            earnings: null
                            currency_code: USD
                          payout_totals: null
                          adjusted_payout_totals: null
                          line_items:
                            - id: txnitm_01h69ddv3p1pv24rtr6vxfvh63
                              price_id: pri_01gsz8x8sawmvhz1pv30nge1ke
                              quantity: 10
                              totals:
                                subtotal: '30000'
                                tax: '2662'
                                discount: '0'
                                total: '32662'
                              product:
                                id: pro_01gsz4t5hdjse780zja8vvr7jg
                                name: ChatApp Pro
                                description: Everything in basic, plus access to a suite of powerful tools and features designed to take your team's productivity to the next level.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '3000'
                                tax: '266'
                                discount: '0'
                                total: '3266'
                            - id: txnitm_01h69ddv3p1pv24rtr6wrrn41v
                              price_id: pri_01h1vjfevh5etwq3rb416a23h2
                              quantity: 1
                              totals:
                                subtotal: '10000'
                                tax: '887'
                                discount: '0'
                                total: '10887'
                              product:
                                id: pro_01h1vjes1y163xfj1rh1tkfb65
                                name: Voice rooms addon
                                description: Create voice rooms in your chats to work in real time alongside your colleagues. Includes unlimited voice rooms and recording backup for compliance.
                                tax_category: standard
                                image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/GcZzBjXRfiraensppgtQ_icon2.png
                                status: active
                                type: standard
                                custom_data: null
                              tax_rate: '0.08875'
                              unit_totals:
                                subtotal: '10000'
                                tax: '887'
                                discount: '0'
                                total: '10887'
                        payments: []
                        checkout:
                          url: https://magnificent-entremet-7ae0c6.netlify.app/default/overlay?_ptxn=txn_01h69ddtrb11km0wk46dn607ya
                    meta:
                      request_id: ed3e36f7-9eb5-4579-a995-3c5121b68129
                      pagination:
                        per_page: 30
                        next: https://api.paddle.com/transactions?after=txn_01h69ddtrb11km0wk46dn607ya
                        has_more: false
                        estimated_total: 6
          headers:
            Request-Id:
              $ref: '#/components/headers/Request-Id'
        default:
          $ref: '#/components/responses/error'
      operationId: list-transactions
      parameters:
        - $ref: '#/components/parameters/after_query'
        - $ref: '#/components/parameters/billed_at_query'
        - $ref: '#/components/parameters/collection_mode_query'
        - $ref: '#/components/parameters/created_at_query'
        - $ref: '#/components/parameters/customer_id_query'
        - $ref: '#/components/parameters/id_query'
        - $ref: '#/components/parameters/include_transaction_query'
        - $ref: '#/components/parameters/invoice_number_query'
        - $ref: '#/components/parameters/origin_query'
        - $ref: '#/components/parameters/order_by_query'
          description: |-
            Order returned entities by the specified field and direction (`[ASC]` or `[DESC]`). For example, `?order_by=id[ASC]`.

            Valid fields for ordering: `billed_at`, `created_at`, `id`, and `updated_at`.
        - $ref: '#/components/parameters/status_transaction_query'
        - $ref: '#/components/parameters/subscription_id_nullable_query'
        - $ref: '#/components/parameters/per_page_transaction_query'
        - $ref: '#/components/parameters/updated_at_query'
      description: |-
        Returns a paginated list of transactions. Use the query parameters to page through results.

        Use the `include` parameter to include related entities in the response.
    post:
      summary: Create a transaction
      externalDocs:
        description: Create a transaction
        url: https://developer.paddle.com/api-reference/transactions/create-transaction
      operationId: create-transaction
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/transaction-includes'
                  meta:
                    $ref: '#/components/schemas/meta'
                required:
                  - data
                  - meta
              examples:
                Standard - 201 Created:
                  summary: Create a transaction (200)
                  value:
                    data:
                      id: txn_01h8bm0f0gwa622zpcvw49hwc1
                      status: ready
                      customer_id: ctm_01h8441jn5pcwrfhwh78jqt8hk
                      address_id: add_01h848pep46enq8y372x7maj0p
                      business_id: null
                      custom_data: null
                      origin: api
                      collection_mode: manual
                      subscription_id: null
                      invoice_id: null
                      invoice_number: null
                      billing_details:
                        enable_checkout: false
                        payment_terms:
                          interval: day
                          frequency: 14
                        purchase_order_number: PO-123
                        additional_information: null
                      billing_period:
                        starts_at: '2023-08-01T00:00:00Z'
                        ends_at: '2024-07-31T23:59:00Z'
                      currency_code: USD
                      discount_id: null
                      created_at: '2023-08-21T08:40:00.766226206Z'
                      updated_at: '2023-08-21T08:40:00.766226206Z'
                      billed_at: null
                      items:
                        - price:
                            id: pri_01gsz91wy9k1yn7kx82aafwvea
                            description: Annual (per seat)
                            name: Annual (per seat)
                            product_id: pro_01gsz4vmqbjk3x4vvtafffd540
                            billing_cycle:
                              interval: year
                              frequency: 1
                            trial_period: null
                            tax_mode: account_setting
                            unit_price:
                              amount: '50000'
                              currency_code: USD
                            unit_price_overrides: []
                            quantity:
                              minimum: 1
                              maximum: 100
                            status: active
                            type: standard
                            custom_data: null
                          quantity: 20
                        - price:
                            id: pri_01gsz96z29d88jrmsf2ztbfgjg
                            description: Annual (recurring addon)
                            name: Annual (recurring addon)
                            product_id: pro_01gsz92krfzy3hcx5h5rtgnfwz
                            billing_cycle:
                              interval: year
                              frequency: 1
                            trial_period: null
                            tax_mode: account_setting
                            unit_price:
                              amount: '300000'
                              currency_code: USD
                            unit_price_overrides: []
                            quantity:
                              minimum: 1
                              maximum: 1
                            status: active
                            type: standard
                            custom_data: null
                          quantity: 1
                        - price:
                            id: pri_01gsz98e27ak2tyhexptwc58yk
                            description: One-time charge
                            name: One-time charge
                            product_id: pro_01gsz97mq9pa4fkyy0wqenepkz
                            billing_cycle: null
                            trial_period: null
                            tax_mode: account_setting
                            unit_price:
                              amount: '19900'
                              currency_code: USD
                            unit_price_overrides:
                              - country_codes:
                                  - AU
                                unit_price:
                                  amount: '40000'
                                  currency_code: AUD
                            quantity:
                              minimum: 1
                              maximum: 1
                            status: active
                            type: standard
                            custom_data: null
                          quantity: 1
                      details:
                        tax_rates_used:
                          - tax_rate: '0.08875'
                            totals:
                              subtotal: '1319900'
                              discount: '0'
                              tax: '117141'
                              total: '1437041'
                        totals:
                          subtotal: '1319900'
                          tax: '117141'
                          discount: '0'
                          total: '1437041'
                          grand_total: '1437041'
                          fee: null
                          credit: '0'
                          credit_to_balance: '0'
                          balance: '1437041'
                          earnings: null
                          currency_code: USD
                        adjusted_totals:
                          subtotal: '1319900'
                          tax: '117141'
                          total: '1437041'
                          grand_total: '1437041'
                          fee: null
                          earnings: null
                          currency_code: USD
                        payout_totals: null
                        adjusted_payout_totals: null
                        line_items:
                          - id: txnitm_01h8bm0ffcr1mbwv2vnxnyxed2
                            price_id: pri_01gsz91wy9k1yn7kx82aafwvea
                            quantity: 20
                            totals:
                              subtotal: '1000000'
                              tax: '88750'
                              discount: '0'
                              total: '1088750'
                            product:
                              id: pro_01gsz4vmqbjk3x4vvtafffd540
                              name: ChatApp Enterprise
                              description: The ultimate solution for businesses that require top-of-the-line features and customizations. Includes all the features of the Pro plan, plus personalized onboarding, dedicated account management, and the ability to pay via invoice.
                              tax_category: standard
                              image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/2nmP8MQSret0aWeDemRw_icon1.png
                              status: active
                              type: standard
                              custom_data: null
                            tax_rate: '0.08875'
                            unit_totals:
                              subtotal: '50000'
                              tax: '4437'
                              discount: '0'
                              total: '54437'
                          - id: txnitm_01h8bm0ffcr1mbwv2vp17x5xvz
                            price_id: pri_01gsz96z29d88jrmsf2ztbfgjg
                            quantity: 1
                            totals:
                              subtotal: '300000'
                              tax: '26625'
                              discount: '0'
                              total: '326625'
                            product:
                              id: pro_01gsz92krfzy3hcx5h5rtgnfwz
                              name: VIP support
                              description: Get exclusive access to our expert team of product specialists, available to help you make the most of your ChatApp subscription.
                              tax_category: standard
                              image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/SW3OevDQ92dUHSkN5a2x_icon3.png
                              status: active
                              type: standard
                              custom_data: null
                            tax_rate: '0.08875'
                            unit_totals:
                              subtotal: '300000'
                              tax: '26625'
                              discount: '0'
                              total: '326625'
                          - id: txnitm_01h8bm0ffcr1mbwv2vp2xpbfk9
                            price_id: pri_01gsz98e27ak2tyhexptwc58yk
                            quantity: 1
                            totals:
                              subtotal: '19900'
                              tax: '1766'
                              discount: '0'
                              total: '21666'
                            product:
                              id: pro_01gsz97mq9pa4fkyy0wqenepkz
                              name: Custom domains
                              description: Make ChatApp truly your own with custom domains! Custom domains reinforce your brand identity and make it easy for your team to access ChatApp.
                              tax_category: standard
                              image_url: https://paddle-sandbox.s3.amazonaws.com/user/10889/SW3OevDQ92dUHSkN5a2x_icon3.png
                              status: active
                              type: standard
                              custom_data: null
                            tax_rate: '0.08875'
                            unit_totals:
                              subtotal: '19900'
                              tax: '1766'
                              discount: '0'
                              total: '21666'
                      payments: []
                      checkout:
                        url: null
                    meta:
                      request_id: 06799361-c802-4b0a-941e-b41844f31100
        default:
          $ref: '#/components/responses/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction-create'
            examples:
              Standard:
                $ref: '#/components/examples/create-transaction-standard'
      description: |-
        Creates a new transaction.

        Transactions are typically created with the status of `draft` or `ready` initially:

        * Draft transactions have `items` against them, but don't have all of the required fields for billing. Paddle creates draft transactions automatically when a checkout is opened.
        * Paddle automatically marks transactions as `ready` when all of the required fields are present for billing. This includes `customer_id` and `address_id` for automatically-collected transactions, and `billing_details` for manually-collected transactions.

        The `collection_mode` against a transaction determines how Paddle tries to collect for payment:

        * Manually-collected transactions are for sales-assisted billing. Paddle sends an invoice to your customer when a transaction is `billed`. Payment is often by wire transfer.
        * Automatically-collected transactions are for self-serve checkouts. Paddle tries to collect using a payment method on file, or you may pass the transaction to a checkout to collect for payment.

        When a manually-collected transaction is marked as `billed` or an automatically-collected transaction is `completed`, Paddle automatically creates a related subscription for the items on the transaction.

        If successful, your response includes a copy of the new transaction entity.

        Use the `include` parameter to include related entities in the response.
      parameters:
        - $ref: '#/components/parameters/include_transaction_query'
      tags:
        - Transactions
  /pricing-preview:
[...]
